body{
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

#logo{
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
.buttonCharacteristic{
  border: teal 2px solid;
}
.icon-bar{
  border: teal 2px solid;
}
#logo-title{
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  padding-left: 10px;
}
#nav-home{
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  padding-left: 10px;
}