{%extends 'base.html'%}
{%import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
{% endblock %}

<!--Content Block-->
{%block content%}
  <h3>News Sources</h3>
  <br>
  <div class='source-section'>
  {{macro.displayNewsSources(sources)}}
</div>
{%endblock%}

<!-- <ul>
  {%for source in sources%}
    <li>{{source.id}}</li>
    <a href="/search/{{source.id}}"><li>{{source.description}}</li></a>
    <li>{{source.category}}</li>
  {%endfor%}
</ul> -->