{%macro displayNewsSources(source_list)%}

{%for source in source_list%}

<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
  <div class="card source-card" style="width: 20rem;">
    <div class="card-body source-card-body">
      <h5 class="card-title">{{source.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{source.category}}</h6>
      <p class="card-text">{{source.description}}</p>
      <a href="/search/{{source.id}}" class="card-link">View Top Headlines</a>
    </div>
  </div>
</div>

{%endfor%}
{%endmacro%}

{%macro displayArticles(article_list)%}
  {%for article in article_list%}
  <div class="text-center">
    <h4>{{article.title}}</h4>
    <blockquote>{{article.author}} {{article.publishedAt}}</blockquote>
    <div>
      {%if article.descriptions%}
      <h5>In the news today</h5>
      <p>{{article.descriptions}}</p>
      {%else%}
      <p> All our articles are verified </p>
      {%endif%}
    </div>
    <div>
      <h5>Main Story</h5>
      <p>{{article.content}}</p>
      <a href="{{article.url}}">Read More</a>
    </div>
  </div>
  <hr>
  {%endfor%}
{%endmacro%}