{%macro displayNewsSources(source_list)%}
{%for source in source_list%}

<div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
  <div class=" source-card card " style="width: 20rem;">
    <div class="source-card-body card-body ">
      <h5 class="card-title" id="source-title">{{source.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{source.category}}</h6>
      <p class="card-text">{{source.description}}</p>
      <a href="/search/{{source.id}}" class="card-link">View Top Headlines</a>
    </div>
  </div>
</div>

{%endfor%}
{%endmacro%}

{%macro displayArticles(article_list)%}
  {%for article in article_list%}
  <div class="text-center article-all">
    <h3 class="article-title">{{article.title}}</h3>
    <blockquote class="article-author">By {{article.author}} </blockquote>
    <img src="{{article.urltoImage}}" alt="{{article.title|truncate(10)}}" width="200" height="200">
    <cite class="article-published"> Published on : {{article.publishedAt}}</cite>
    <div>
      {%if article.descriptions%}
      <h4>In the news today</h4>
      <p>{{article.descriptions}}</p>
      {%else%}
      <p> All our articles are verified </p>
      {%endif%}
    </div>
    <div>
      <h4>Main Story</h4>
      <p>{{article.content}}</p>
      <a href="{{article.url}}" target="_blank">Read More...</a>
    </div>
  </div>
  <hr>
  {%endfor%}
{%endmacro%}